{
  "env": {
      "browser": true,
      "jest/globals": true
  },
  "extends": [
      "airbnb-typescript"
  ],
  "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "plugins": [
      "@typescript-eslint",
      "jest"
  ],
  "rules": {
    "no-bitwise": "off",
    "no-underscore-dangle": "off"
  },
  "ignorePatterns": [
      "dist/",
      "tests/",
      "node_modules/"
  ]
}